@model EdoSign.Lab_3.Models.Orm.SignedDocument

<h2>Деталі документа</h2>

<p><strong>Файл:</strong> @Model.FileName</p>
<p><strong>Клієнт:</strong> @Model.Client.Name</p>
<p><strong>Тип документа:</strong> @Model.DocumentType.Name</p>
<p><strong>Дата:</strong> @Model.UploadedAt</p>
